<a href="https://colab.research.google.com/github/Dhakcin-123/Dictionary/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dictionary = {
    "Key1":"Value1",
    "Key2":"Value2"
}

In [3]:
person = {
    "Name":"John",
    "Age":19,
    "City":"Washington"
}
print(person.get('Age'))

19

In [4]:
person = {
    "Name":"John",
    "Age":19,
    "City":"Washington"
}
print(person["Age"])

19

In [5]:
person = {
    "Name":"John",
    "Age":19,
    "City":"Washington"
}

person["Country"]="United State of America"

print(person)

{'Name': 'John', 'Age': 19, 'City': 'Washington', 'Country': 'United State of America'}

In [7]:
person["Age"]=20
print(person)

{'Name': 'John', 'Age': 20, 'City': 'Washington', 'Country': 'United State of America'}

In [8]:
del person["City"]
print(person)

{'Name': 'John', 'Age': 20, 'Country': 'United State of America'}

In [9]:
age = person.pop("Age")
print(person)

{'Name': 'John', 'Country': 'United State of America'}

In [11]:
print(person.keys())
print(person.values())

dict_keys(['Name', 'Country'])
dict_values(['John', 'United State of America'])

In [12]:
print(person.items())

dict_items([('Name', 'John'), ('Country', 'United State of America')])

In [14]:
person.update({"City":"Luxemburg"})
print(person)

{'Name': 'John', 'Country': 'United State of America', 'City': 'Luxemburg'}

In [16]:
company ={
    "Employee1":{"Name":"John",
                 "Age":39},
    "Employee2":{"Name":"Jake",
                 "Age":54}
}
print(company["Employee1"]["Age"])

39

In [23]:
a = {
    "Name":"Ayaan",
    "Age":67,
    "Place":"Beijing",
    "Number":558855423,
    "Hobby":"Chess"
}
print(a.keys())
a.update({"Proffesion":"Chef"})
print(a)
del a["Place"]
print(a)

dict_keys(['Name', 'Age', 'Place', 'Number', 'Hobby'])
{'Name': 'Ayaan', 'Age': 67, 'Place': 'Beijing', 'Number': 558855423, 'Hobby': 'Chess', 'Proffesion': 'Chef'}
{'Name': 'Ayaan', 'Age': 67, 'Number': 558855423, 'Hobby': 'Chess', 'Proffesion': 'Chef'}

In [28]:
s = {
    "s1":{"Name":"Paul",
          "Age":12,
          "Grade":9},
    "s2":{"Name":"Leo",
          "Age":14,
          "Grade":9}
}
print(s["s2"]["Age"])
print(s.get("s2"))

14
{'Name': 'Leo', 'Age': 14, 'Grade': 9}

A dictionary is an unnordered and mutable collectioon of key value pairs.
Key is always unique but value can be any data type.